
@{
    ViewBag.Title = "Ubicacion";
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>NumeroTracking</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvMdxTAgkFIhI8MqCR8bE_CRHpNABl0L0&sensor=false"></script>
</head>
<body>
    <div>

        <div id="divDatosTracking" style="margin-left: 380px; padding-top: 70px">
            <b style="font-size: 100px;">Ingrese numero de tracking</b>
            <br /><br />
            <textarea name="numeroTracking" id="numeroTracking" rows="1" cols="35" style="font-size: 60px"></textarea>
            <br /><br />
            <input type="button" onclick=GetUbicacion() id="btnCalcular" value="Ver ubicacion" style="border-radius: 5px 5px; margin-left: 400px; height: 100px; width: 300px; font-size: 40px" />
            <br /> <br />
            <div id="errorUbicacion" style="color: red; margin-left: 440px"></div>
        </div>
    </div>

    <br /><br />

    <div id="datosMapa">
        <b style="font-size:60px; margin-left: 600px;">Ubicacion actual del envio</b>
        <hr />
        <div id="dvMap" style="width: 1000px; height: 700px; outline: 2px solid black; margin-left: 460px">
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/UbicacionJS")
</body>
